* {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
}

form {
    padding: 0.5em;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}